.tablo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  border: 3px solid #61dafb;
  height: 180px;
  width: 400px;
  border-radius: 15px;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
}
.red {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #61dafb;
  height: 180px;
  width: 400px;
  border-radius: 15px;
  font-size: 50px;
  font-weight: bold;
  color: red;
  margin-top: 10px;
}



