.App {
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.counter {
  border: 5px solid #61dafb;
  height: 350px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: white;
  gap: 20px;
}

.setButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100px;
  width: 400px;
  border: 3px solid #61dafb;
  border-radius: 10px;

}





